.location {
  background-color: #00ccbc;
  display: flex;
  min-height: 156px;
  @media (max-width: 425px) {
    padding: 10px;
  }
}

.innerArea {
  composes: innerArea from '../../App.module.scss';
  flex-flow: row wrap;

  @media (min-width: 425px) {
    width: 1226px;
  }

  h4 {
    text-align: left;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
  }

  h1 {
    color: white;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
  }

  button {
    border-radius: 5px;
    color: #00ccbc;
    font-size: 20px;
    max-height: 44px;
    padding: 10px;
    background-color: white;
    @media (max-width: 425px) {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}
