body {
  font-family: plex-sans, Helvetica Neue, Helvetica, Arial, Microsoft YaHei,
    '\5FAE\8F6F\96C5\9ED1\4F53', Hiragino Sans GB, '\51AC\9752\9ED1\4F53',
    sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.innerArea {
  max-width: 1226px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1024px) {
    padding: 10px;
  }
}
